.text-sm {
    font-size: 12px !important;
  }
.navbar, .brand-link{
    max-height: 60px !important;
}

label {
    font-weight: normal !important;
}


.svg{
    filter: invert(100%) sepia(100%) saturate(37%) hue-rotate(44deg) brightness(109%) contrast(110%);
    width: 45px;
    height: 45px;
}
.morpheus-den-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%)
}
.juicy-peach-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%)
}

.young-passion-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff8177), color-stop(0%, #ff867a), color-stop(21%, #ff8c7f), color-stop(52%, #f99185), color-stop(78%, #cf556c), to(#b12a5b));
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)
}

.lady-lips-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%)
}

.sunny-morning-gradient {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%)
}

.rainy-ashville-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)
}

.frozen-dreams-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fdcbf1), color-stop(1%, #fdcbf1), to(#e6dee9));
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%)
}

.warm-flame-gradient {
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%)
}

.night-fade-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%)
}

.spring-warmth-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fad0c4), to(#ffd1ff));
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%)
}

.winter-neva-gradient {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%)
}

.dusty-grass-gradient {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)
}

.tempting-azure-gradient {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)
}

.heavy-rain-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%)
}

.amy-crisp-gradient {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%)
}

.mean-fruit-gradient {
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%)
}

.deep-blue-gradient {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%)
}

.ripe-malinka-gradient {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%)
}

.cloudy-knoxville-gradient {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
}

.morpheus-den-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#96ebeb), to(#6610f2));
    background-image: linear-gradient(to top, #b9e9e9 0%, #6610f2 100%)
}

.rare-wind-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)
}

.near-moon-gradient {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%)
}

.purple-gradient {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important
}

.peach-gradient {
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important
}

.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important
}

.blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important
}


.btn-mdb {
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    padding: .84rem 2.14rem;
    font-size: .81rem
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center
}

.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.btn-floating:before {
    border-radius: 0
}

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px
}

.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px
}

.btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px
}

.btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 61.1px
}
.btn-floating.btn-flat {
    padding: 0;
    color: #fff;
    background: #4285f4
}

.btn-floating.btn-flat:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-floating.btn-flat:hover,
.btn-floating.btn-flat:focus {
    background-color: #5a95f5
}

.btn-floating.btn-flat.active {
    background-color: #0b51c5;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}