<%- include('../partials/header.ejs') %>
    <style>
        label {
            margin-bottom: 0px !important;
        }

        input[type='text'] {
            padding: 0px 12px;
            height: 23px;
        }

        input[type='password'] {
            padding: 0px 12px;
            height: 23px;
        }

        #uf {
            padding: 0px 12px;
            height: 23px;
        }
    </style>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Cadastrar Tipo Apoador</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">home</a></li>
                                <li class="breadcrumb-item active">Apoiador</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <form action="/tipoApoiador/add" method="POST">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-user"></i></h3>
                            <div class="card-tools">
                                <button type="submit" Text="Salvar" class="btn btn-sm btn-info hvr-float-shadow"
                                    ID="btnSalvar">Salvar</button>
                                <button type="button" Text="Voltar" onclick="window.history.back()"
                                    class="btn btn-sm btn-secondary hvr-float-shadow" ID="btnVoltar">Voltar</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <div class="form-group">
                                        <label for="descricao">Descrição</label>
                                        <input type="text" ID="descricao" name="descricao"
                                            class="form-control form-control-border border-width-2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </section>
    </div>
    <%- include('../partials/footer.ejs') %>